
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">TRAINER</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="enrollment" >
            <i class="bi bi-layout-text-sidebar-reverse"></i>
            <span class="links_name">Enrollment Form</span>
          </a>
        </li>
        <li>
          <a routerLink="profile">
            <i class="bi bi-envelope-open-fill"></i>
            <span class="links_name">Profile</span>
          </a>
        </li>
        <li>
          <a routerLink="schedule">
            <i class="bi bi-list-check"></i>
            <span class="links_name">Schedule</span>
          </a>
        </li>
       
       
        <li class="log_out">
          <a routerLink="/login">
            <i class="bi bi-box-arrow-right"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bi bi-layout-text-sidebar-reverse"></i>
        <span class="dashboard">Enrollment Form</span>
      </div>
     
      
    </nav>

    <div class="home-content">
      <router-outlet></router-outlet>
    
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
 