
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">TRAINER</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="enrollment" >
            <i class="bi bi-layout-text-sidebar-reverse"></i>
            <span class="links_name">Enrollment Form</span>
          </a>
        </li>
        <li>
          <a routerLink="requests">
            <i class="bi bi-envelope-open-fill"></i>
            <span class="links_name">Trainer Profile</span>
          </a>
        </li>
        <li>
          <a routerLink="/trainerslist">
            <i class="bi bi-list-check"></i>
            <span class="links_name">Trainers Schedule</span>
          </a>
        </li>
       
       
        <li class="log_out">
          <a routerLink="/login">
            <i class="bi bi-box-arrow-right"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="bi bi-layout-text-sidebar-reverse"></i>
        <span class="dashboard">Enrollment Form</span>
      </div>
      <!-- <div class="search-box">
        <input type="text" placeholder="Search...">
       
      </div> -->
      
    </nav>

    <div class="home-content">
      <router-outlet></router-outlet>
      <!-- <div class="signup-form">
        <form (ngSubmit)="addRequest()" class="register-form"  #trainerEnroll="ngForm">
          <div class="Image" >
            <img [src]="url" class="rounded mx-auto d-block" width="150vh" name="img" height="200vh" [(ngModel)]="img" alt="..." style="margin-left: 20%;" >
            <label for="file" class="required" id="photo" style="margin-left: 41%;">
              Choose Photo</label >
            <input type="file" name="first_name" class="custom" id="file" accept="image/*"  (change)="onFileSelected($event)" required/>
        </div>
            <div class="form-row">
              
                <div class="form-group">
                  
                    <div class="form-input">
                        <label for="first_name" class="required">First name</label>
                        <input type="text" name="fname" id="first_name" [(ngModel)]="fname" required/>
                    </div>
                    <div class="form-input">
                        <label for="last_name" class="required">Last name</label>
                        <input type="text" name="lname" id="last_name" [(ngModel)]="lname" required />
                    </div>
                    <div class="form-input">
                        <label for="company" class="required">Address</label>
                        <input type="address" name="address" id="address" [(ngModel)]="address" required/>
                    </div>
                    <div class="form-input">
                        <label for="email" class="required">Email</label>
                        <input type="text" name="email" id="email" [(ngModel)]="email" required/>
                    </div>
                    <div class="form-input">
                        <label for="phone_number" class="required">Phone number</label>
                        <input type="text" name="phno" id="phone_number" [(ngModel)]="phno" required />
                    </div>
                </div>
                <div class="form-group">
                    
                  <div class="form-input">
                    <label for="qual" class="required">Highest Qualification</label>
                    <input type="text" name="qual" id="qual" [(ngModel)]="qual" required/>
                </div>
                <div class="form-input">
                  <label for="skill">Skill Set</label>
                  <input type="text" name="skill" id="skill" [(ngModel)]="skill" required/>
              </div>
                    <div class="form-input">
                        <label for="company">Current Company</label>
                        <input type="text" name="comp" id="company" [(ngModel)]="comp" required/>
                    </div>
                    <div class="form-input">
                        <label for="blank_name">Current Designation</label>
                        <input type="text" name="desgn" id="dest" [(ngModel)]="desgn" required/>
                    </div>
                   
                    
                      <div class="form-input">
                        <label for="course" class="required">ICAT Course Handling</label>
                        <div class="form-input">
                          <select class="form-select form-select-lg" style="padding: 9px;" name="course" [(ngModel)]="course" value="select" required>
                            <option *ngFor=" let course of courses"> {{course}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           
                
            <div class="form-submit">
                <button type="submit" value="Submit" [disabled]="trainerEnroll.form.invalid" click="validate()" class="submit" id="submit" name="submit">Submit</button>
                <input type="reset" value="Reset"  class="submit" id="reset" name="reset" />
            </div>
        </form>
    </div> -->
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
 