<app-header></app-header>
<div style="background-image: url(https://i.pinimg.com/originals/2f/c9/05/2fc90526bbe6399b4733668573cefddd.jpg);padding: 50px;">
  <div class="row"><div class="container px-6">
    <div class=" justify-content-center" style="padding-top: 100px;"> <h2>About Us</h2></div>
    <div class="text-center justify-content-center my-5">
        <p >ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry.
             The Company is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.
            Our website is to enroll trainers to ICTAK Portal.Trainers can be Internal,Empanelled or Industry Expert.</p>
    </div>
  </div>
  
</div>
</div>