<app-header></app-header>
<section class="first-sec">
  <div class="row">
    <div class="col-md-4" id="first">
      <h1>What is ICT Academy of Kerala?</h1>
      <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private
         Partnership model (PPP) for imparting ICT skills to the youths of Kerala
         and improve their employability opportunities in the Industry. The Company
         is supported by Govt. of India , partnered by Govt. of Kerala and the IT
         industry.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <!-- <iframe class="embed-responsive-item" src="./assets/ICTAK_55Sec.mp4?rel=0"  allowfullscreen></iframe> -->
        <video style="border-radius: .5em;" controls>
          <source src="./assets/ICTAK_55Sec.mp4" type="video/mp4">
      </video>
      </div>
    </div>
  </div>
</section>
<section class="second-sec">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
 <img src="./assets/F.png">

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 5%;">
    <h2>Our Key Focus Areas</h2>
     <p>✔  Industry focused enablement programmes for Faculty members</p>
     <p>✔ Industry focused ICT Skills development programmes for Students </p>
     <p>✔ Project assignments related to capability building for Institutions and Corporate. </p>
     <p>✔ Creating Intellectual Property on niche skill areas and emerging technologies.  </p>
    </div>
  </div>
</section>
<section class="third-sec">
  
  <div class="row">
    
  <div class="col-md-7">
    <h2 style="margin-left: 3%;" class="vision">To emerge as the single-point establishment for all the ICT related capability building
       in the State</h2>
  </div>
  <div class="col-md-5">
    <img class="img-custom " src="./assets/Vision.png">
  </div>
  </div>
</section>

<app-footer></app-footer>
