.coverview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar,
.imageUpload {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 auto 30px;
  border: #22236e solid 3px;
  box-shadow: 1px 0px 10px 3px gray;
}

.imageUpload {
  cursor: pointer;
}

.avatar input[type="file"],
.imageUpload input[type="file"] {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.imageUpload:after,
.imageUpload:before {
  opacity: 0;
  content: "";
  position: absolute;
  pointer-events: none;
  transition: all 300ms ease-in;
  background: rgba(0, 0, 0, 0.16);
}
.imageUpload:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageUpload:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin: auto;
  width: 100px;
  color: #fff;
  height: 1.5em;
  content: "Edit";
  padding: 3px 10px;
  border-radius: 4px;
  line-height: 1.25em;
  background: #22236e;
}

.imageUpload:hover:before,
.imageUpload:focus:before,
.imageUpload:active:before,
.imageUpload:hover:after,
.imageUpload:focus:after,
.imageUpload:active:after {
  opacity: 1;
}

.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.24);
}

.name {
  margin-top: 10px;
}
.label {
  font-family: "Oswald", sans-serif;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 67%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.label-default {
  color: #fff;
  margin: 12px 0;
  font-size: 16px;
  text-align: left;
  padding: 9px 20px;
  border-radius: 10em;
  display: inline-block;
  background: #22236e;
}

.label-default.form-group {
  width: 100%;
  color: #22236e;
  position: relative;
}

.label-default.form-group i {
  z-index: 10;
  position: relative;
}
.label-default.form-group .fc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #22236e;
  font-size: 16px;
  font-weight: 600;
  padding-left: 50px;
  position: absolute;
  border-radius: 10em;
  background: rgba(255, 255, 255, 0.9);
  border-color: #22236e;
}

/* .label-default.form-group input {
} */

.lbl {
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  color: #22236e;
}

.content {
  width: 100%;
  margin: 10px auto;
  /* background: white; */
  /* border: solid 1px black; */
  /* font-family: 'initial'; */
}

.content h4 {
  font-size: 14px;
  font-weight: normal;
}

.profile {
  min-height: 550px;
  display: flex;
  flex-direction: inherit;
  padding: 5rem 1.25rem;
}

.form {
  padding: 20px 0;
}

.fc,
.value {
  font-size: 12px;
  padding: 8px 12px;
  margin: 8px 0 20px;
  border-radius: 4px;
}

.value {
  background: #eee;
}

.fc {
  width: 100%;
  margin-top: 0;
  border: 1px solid #ccc;
}
