<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="./assets/{{trainer.img}}" alt="" srcset="" class="coverview">
      <div class="name">
        <h2>{{trainer.fname}} {{trainer.lname}}</h2>
      </div>
      <div class="col">
        <h4><span class="text-muted small">
            {{trainer.desgn}}
          </span></h4>
      </div>

      <div class="row">
        <div class="col label label-default">
          <h4>{{trainer.email}} </h4>
        </div>

        <div class="col label label-default">
          <h4>{{trainer.phno}} </h4>
        </div>
      </div>

    </div>
    <br>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Address</h4> 
    </div>

    <div class="col col-sm-1">:</div>
    <div class="col col-sm-7">
      <h4>{{trainer.address}}</h4>
    </div>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Qualification </h4>
    </div>

    <div class="col col-sm-1">:</div>
    <div class="col col-sm-7">
      <h4>{{trainer.qual}}</h4>
    </div>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Skill </h4>
    </div>

    <div class="col col-sm-1">:</div>
    <div class="col col-sm-7">
      <h4>{{trainer.skill}}</h4>
    </div>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Company </h4>
    </div>

    <div class="col col-sm-1">:</div>
    <div class="col col-sm-7">
      <h4>{{trainer.comp}}</h4>
    </div>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Course </h4>
    </div>

    <div class="col col-sm-1">:</div>
    <div class="col col-sm-7">
      <h4>{{trainer.course}}</h4>
    </div>
  </div>

  <div class="row content">
    <div class="col col-sm-4">
      <h4>Employment Type</h4>
    </div>

    <div class="col col-md-1">:</div>
    <div class="col col-md-7">
      <h4>{{trainer.type}}</h4>
    </div>
  </div>
</div>
